<!DOCTYPE html>
<html ng-app="rml">
    <head>
        <meta charset="utf-8">
        <title>Rate My Landlord</title>
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/index.css" />
        <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>
    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>
